<!-- setting up common layout for app -->
<html>
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="./css/layout.css" />
    <!-- extracting styles -->
    <%-style%>
  </head>
  <body>
    <%-body%>
  </body>
</html>
