* {
  margin: 0;
  padding: 0;
}
.flash {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.flash-msg {
  color: rgb(255, 0, 0);
  padding: 10px 20px;
  border-radius: 10px;
  background-color: wheat;
}
